{% extends "base.html" %}
{% block title %}Sobre nosotros {% endblock %}
{% block head %}
{{super()}}

{% endblock %}
{% block body %}

<div  class="caja__trasera_mascotas">
    



<h6>ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h6>
<h1 id="titu2"> SOBRE NOSOTROS </h1>
<h5 id="letrawhite">En "Desplazate" puedes encontrar los mejores lugares a los mejores precios ya sean locales o casas en renta, aqui lo puedes encontrar</h5>
<h6>ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h6>
<h1 id="titu2">MISIÓN </h1>
<h5 id="letrawhite">Nuestra misión es proporcionar a las personas un lugar mas comodo donde puedan quedarse y pasar un buen rato en la localidad de Guaymas</h5>
<h6>ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h6>
<h6>ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h6>
<h6>ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h6>




</div>


{% endblock %}

{% block footer %}

{% endblock %}